section.about.section
    .about__col.about__col_left
        .section-title(style="background-image: url('./assets/img/stars3.svg')")
            .section-title__name Обо мне
        .about-me
            .about-me__pic
                .about-me__img
            .block-title.about-me__title Кто я
            .about-me__text
                p
    .about__col.about__col_right
        include ../blocks/skills