section.blog-hero
    .container.blog-hero-container
        .blog-hero__bg
            img.blog-hero__bg-img(src="./assets/img/background_mount.png")
        .user-bg
            img.user-bg__img(src="./assets/img/stars1.svg")
        .user
            include ../blocks/blog-user