section.section.hero
    .container.hero-container
        a(href="#").nav-arrow.nav-arrow_down
            +svg('nav-arrow__pic', 'arrow_down')

        .hero__bg-image
            img.hero-parallax-layer-1(src="./assets/img/stars_bg.jpg", loop)

        .hero__bg.hero-parallax-layer-2
            img.hero__bg-img(src="./assets/img/auth_background.png")

        .user-bg
            .hero-parallax-layer-3
                img.user-bg__img(src="./assets/img/stars1.svg")

        .user
            .hero-parallax-layer-4
                block user
