section.section.hero

    a(href="").arrow-down
        +svg('arrow-down__pic', 'arrow_down')

    .hero-container
        .hero__bg(style = "background-image: url('./assets/img/stars1.svg')")
        block user