section.section.reviews
    .section-wrapper
        .section-title(style="backgroud-image: url('./assets/img/stars2.svg')")
        include ../blocks/reviews
        include ../blocks/feedback
    include ../blocks/footer