section.section.reviews
    .container.reviews-container

            +section-title('Что обо мне говорят', 'white reviews__title', '3')

            include ../blocks/reviews
            include ../blocks/feedback

            a.nav-arrow.nav-arrow_up(href="#")
                +svg('nav-arrow__pic', 'portf_arrow_up')

    include footer