section.section.works
    .content
        .works__title
            +svg('works__title-bg', 'bg')
            +section-title('Мои работы', 'white works__title-name', '2')
        include ../blocks/slider