mixin svg (className, fileName)
    svg(class=className)
        use(xlink:href=`./assets/img/sprite.svg#${fileName}`)

mixin skills-list (params)
    each val in params
        li.skills-list__item
            .skill
                .skill__title= val
                svg.skill__diagram