-
    var skillsGroups = ['Frontend','Backend','Workflow'];
    var skillsArray = [
        ['HTML5','CSS','JavaScript & jQuery'],
        ['PHP','mySQL','Node.js & npm','Mongo.db'],
        ['Git','Gulp','Yarn']
    ];
    var links = {
        'portfolio.html': 'Мои работы',
        'about.html'    : 'Обо мне',
        'blog.html'     : 'Блог',
        'index.html'    : 'Авторизация'
    };
    var socials = {
        'vk': 'https://vk.com',
        'github': 'https://github.com',
        'in': 'https://linkedin.com/'
    };
    var contacts = {
        'skype'     : 'uudimauu',
        'phone'       : '+7 900 123 45 67',
        'envelope'     : 'zadima@gmail.com',
        'map'  : 'Москва, ул. Красного маяка, д.14 к.1'
    }

