.nav-arrow {
  display: block;
  z-index: 10;
  bottom: rem(70);
  @include align(hor);
  &_up {
    position: static;
    margin: 0 auto;
    width: rem(30);
    margin-bottom: rem(70);
    @include phone {
      margin-bottom: 40px;
    }
  }

  &__pic {
    width: rem(26);
    height: rem(16);
    fill: white;
    fill-opacity: 0.5;
    transition: .5s;
  }

  &:hover &__pic{
    fill-opacity: 1;
  }
}

.blog-hero {
  .nav-arrow {
    display: none;
    @include laptop {
      display: block;
    }
    @include phone {
      display: none;
    }
  }
}