.burger {
  width: rem(40);
  height: rem(5);
  margin: rem(15)0;
  position: absolute;
  background-color: #ffffff;
  border-radius: rem(2);

  &:after, &:before {
    content: '';
    display: block;
    width: rem(40);
    height: rem(5);
    position: absolute;
    background-color: #ffffff;
    border-radius: rem(2);
  }

  &:before{
    top: rem(-15);
  }

  &:after {
    bottom: rem(-15);
  }
}