.contacts {
  padding: 40px 20px 30px;
  width: 580px;
  height: 283px;
  background-color: rgba($white, 0.7);
  @include align();

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    font-family: 'robotomedium';
    @extend %clearfix;
  }

  &__col {
    float: left;
    width: 50%;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__block {
    display: inline-block;
    vertical-align: middle;
  }

  &__pic {
    margin-right: 10px;
    width: 45px;
    height: 45px;
    fill: $blue
  }

  &__text {
    width: 75%;
  }
}