.feedback {
  margin: 0 auto rem(70);
  width: rem(380);
  height: rem(500);
  background: rgba(#fff, 0.05);
  position: relative;

  &__blur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(3px);
    background-image: url("../img/reviews_bg.jpg");
  }

  &__form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: rem(45) rem(20) 0;
  }

  &__title {
    margin-bottom: rem(30);
  }

  &__block {
    position: relative;
    margin-bottom: rem(20);
  }

  &__input {
    padding: rem(15);
    width: 100%;
    height: rem(45);
    border: none;
    background: rgba(#fff, 0.07);
    color: #ffffff;
    box-shadow: none;
    transition: .5s;
    &_ta {
      height: rem(130);
      resize: none;;
    }
    &:focus {
      outline: none;
      background: rgba(#fff, 0.2);
    }
    &:-ms-input-placeholder,
    &::-webkit-input-placeholder,
    &::-moz-placeholder {
      color: rgba(#fff, 0.5);
    }
  }

  &__btns {
    height: rem(45);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0;
    * {
      font-size: 1rem;
    }
  }

  &__btn {
    display: inline-block;
    width: 50%;
    height: 100%;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
    &_submit {
      background: $blue;
      &:hover,
      &:active {
        background: $dark-blue;
      }
    }
    &_reset {
      background: none;
      color: rgba(#fff, 0.5);
      &:hover,
      &:active {
        background: rgba(#fff, 0.05);
      }
    }
  }

  @include phone {
    width: 93%;
    margin-bottom: 40px;
  }
}

.feedback__imput::-moz-placeholder {
  color: rgba(red, 0.5);
}