.footer {
  opacity: 0.8;
  color: $white;
  font-family: 'robotolight';
  position: relative;
  z-index: 20;
}

.footer-top {
  padding-top: rem(30);
  padding-bottom: rem(30);
  background: $footer-top-clr;
  position: relative;

  &__col {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding-left: rem(20);
    padding-right: rem(20);
    &_left {
      @include laptop {
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        text-align: center;
        position: relative;
        &:after {
          display: block;
          content: '';
          width: 100%;
          height: 1px;
          background-color: rgba(#fff, 0.2);
          position: absolute;
          bottom: 0;
        }
      }
    }
    &_right {
      @include desktop {
        width: 27%;
      }
      @include laptop {
        float: right;
        width: 285px;
        text-align: right;
      }
      @include phone {
        float: none;
        text-align: center;
      }
      @include tablet {
        width: 40%;
      }
    }
    &_middle {
      position: relative;
      &:after,
      &:before {
        content: '';
        display: block;
        opacity: 0.2;
        height: rem(87);
        width: rem(1);
        background: $white;
        position: absolute;
        top: 0;
        @include laptop {
          display: none;
        }
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
      @include desktop {
        width: 39%;
      }
      @include laptop {
        float: left;
        width: 435px;
      }
      @include tablet {
        width: 60%;
      }
      @include phone {
        text-align: center;
        padding-bottom: 16px;
        margin-bottom: 20px;
        &:after {
          display: block;
          content: '';
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: 0;
          top: auto;
          background: rgba(#fff, 0.2);
          opacity: 1;
        }
      }
    }

    @include laptop {
      padding-left: 0;
      padding-right: 0;
    }
    @include phone {
      display: block;
      width: 100%;
    }
  }

  .socials {
    position: static;
    &__img {
      fill: rgba($white, 0.2);
      @include laptop {
        fill: rgba($white, 0.5);
      }
    }
  }
}

.footer-container {
  @include laptop {
    width: 93%;
    margin: 0 auto;
  }
}

.footer-contacts {

}

.footer-bottom {
  padding-top: rem(7);
  height: rem(38);
  background: $main-blue;
  text-align: center;
  @include phone {
    height: auto;
  }
}