.nav {
  display: inline-block;
  font-weight: bold;
  margin-bottom: rem(30);

  @include phone {
    margin-bottom: 20px;
  }

  &__list {
    margin-left: rem(-40);
    font-size: 0;
    * {
      font-size: 1rem;
    }
    @include phone {
      margin-left: -10px;
    }
  }

  &__item {
    display: inline-block;
    margin-left: rem(40);
    font-family: 'robotomedium';
    &:hover {
      .nav__link {
        color: $main-blue;
      }
    }
    @include phone {
      margin-left: 10px;
    }
  }

  &__link {
    transition: .5s;
  }
}