.nav {
  font-weight: bold;
  margin-bottom: rem(30);

  &__list {
    margin-left: rem(-40);
    font-size: 0;
    * {
      font-size: 1rem;
    }
  }

  &__item {
    display: inline-block;
    margin-left: rem(40);
    font-family: 'robotomedium';
    &:hover {
      .nav__link {
        transition: .5s;
        color: $main-blue;
      }
    }
  }
}