.reviews {
  &__list {
    width: 100%;
    margin: rem(70) 0 0;
    color: $white;
    font-size: 0;
    font-family: 'robotoitalic';
    position: relative;
    * {
      font-size: 1rem;
    }
  }

  &__item {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    &:first-child {
      margin-right: 2%;
    }
  }

  &__pic {
    margin: 0 auto rem(20);
    width: rem(77);
    height: rem(77);
    overflow: hidden;
    border-radius: 50%;
    position: relative;
  }

  &__img {
    &_1 {
      position: absolute;
      top: -20%;
      left: -10%;
    }
  }

  &__reviewer {
    margin-top: rem(30);
    text-align: center;

  }

  &__name {
    font-family: 'robotobold_italic';
  }

  &__bg {
    width: rem(75);
    height: rem(61);
    opacity: 0.1;
    background: url('../img/quotes.svg') no-repeat;
    position: absolute;
    top: 30%;
  }
}