$skill-blue: #243994;

.skills {

  &__text {
    text-align: left;
    margin: rem(40) 0 rem(60);
    @include tablet {
      width: 100%;
      margin: 0 auto;
    }
  }

  @include tablet {
    text-align: center;
  }
  @include phone {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.skills-group {

  &__title {
    margin-bottom: rem(20);
    font-size: rem(28);
    font-weight: bold;
  }

  &__item {
    margin-bottom: rem(40);
  }
}

.skills-list {
  margin-left: rem(-40);
  font-size: 0;
  * {
    font-size: rem(14);
  }
  &__item {
    display: inline-block;
    margin-left: rem(40);
    @include desktop {
      margin-left: rem(35);
    }
  }

  @include desktop {
    margin-left: rem(-35);
  }
}

.skill {
  position: relative;
  font-size: 14px;
  color: $skill-blue;
  line-height: 1rem;
  text-align: center;

  &__title {
    font-family: 'robotomedium';
    @include align();
  }

  &__diagram {
    fill: none;
    stroke-width: 20;

    &-first {
      stroke: #dfdcd5;
    }

    &-second {
      stroke: $blue;
      stroke-dasharray: 0 314;
    }

    &-html{
      stroke-dasharray: 282 314;
      opacity: 0.9;
    }
    &-css{
      stroke-dasharray: 266 314;
      opacity: 0.8;
    }
    &-js{
      stroke-dasharray: 266 314;
      opacity: 0.8;
    }
    &-php{
      stroke-dasharray: 63 314;
      opacity: 0.2;
    }
    &-sql{
      stroke-dasharray: 166 314;
      opacity: 0.5;
    }
    &-node{
      stroke-dasharray: 125 314;
      opacity: 0.4;
    }
    &-mongo{
      stroke-dasharray: 170 314;
      opacity: 0.6;
    }
    &-git{
      stroke-dasharray: 266 314;
      opacity: 0.8;
    }
    &-gulp{
      stroke-dasharray: 244 314;
      opacity: 0.8;
    }
    &-yarn{
      stroke-dasharray: 230 314;
      opacity: 0.8;
    }

    @include desktop {
      width: 110px;
      height: 110px;
    }
  }
}
