.socials {
  display: inline-block;
  position: absolute;
  top: 34px;
  left: 30px;
  &__item {
    margin-left: rem(30);
    display: inline-block;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
    }
    &:hover .socials__img {
      fill: rgba($blue, 1);
    }
  }
  &__img {
    fill: $white;
    fill-opacity: 1;
    width: rem(32);
    height: rem(22);
    transition: .5s;
  }

  @include phone {
    top: 15px;
    left: 10px;
  }
}