.section-title {
  position: relative;
  font-size: 63px;
  font-family: 'sansus_regular';
  color: $gray;
  text-transform: uppercase;
  text-align: center;
  &_white{
    color: #fff;
  }

  &__name {
    line-height: 1em;
    position: relative;
  }

  &__pic {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    @include align("vert");
    &_1 {
      height: 171px;
      transform: translateY(-50%) rotate(180deg);
    }
    &_2 {
      height: 202px;
    }
  }
}

.block-title {
  padding-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-family: 'sansus_regular';
  text-transform: uppercase;
  line-height: 35px;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 89px;
    height: 3px;
    background: rgba($gray, 0.5);
    @include align(hor);
    bottom: 0;
  }
  
  &_white {
    color: $white;

    &:after {
      background: rgba($white, 0.5);
    }
  }
}