.user {
  width: 460px;
  height: 270px;
  text-align: center;
  color: $white;

  @include align(both);

  &-bg {
    width: 460px;
    opacity: 0.07;
    @include align();
    &__img {
      width: 100%;
    }
  }

  &__pic {
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 141px;
    height: 141px;
    position: relative;
  }

  &__img {
    width: 300px;
    position: absolute;
    top: -30px;
    left: -78px;
  }

  &__title {
    margin-bottom: 10px;
    font-family: 'robotomedium';
    font-size: 35px;

    &_blog {
      font-size: 63px;
      margin-bottom: 20px;
      font-family: 'sansus_regular';
    }
  }

  &__desc {
    font-family: 'robotoregular';
  }
}