$blog-bg-color: #faf8f0;
$sidebar-text: #455a64;
$blog-content: rem(920);
$sidebar-width: rem(300);

.blog-hero {
  width: 100%;
  height: rem(400);
  position: relative;
  overflow: hidden;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: rem(550);
    &-img {
      display: block;
      bottom: 0;
      @include align(hor);
    }
  }
}

.blog {
  padding-top: rem(70);
  background-color: $blog-bg-color;

  &__triangle {
    display: block;
    width: 50%;
    position: absolute;
    bottom: 100%;
    fill: $blog-bg-color;
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }
}

.blog-container {
  margin: 0 auto;
  width: $blog-content;

  @include desktop {
    width: 1020px;
  }
  @include tablet {
    width: 95%
  }
}

.blog-sb {
  width: rem(300);
  text-align: right;
  position: absolute;
  left: - ($sidebar-width + rem(100));

  &__item {
    margin-bottom: rem(10);
    &.active .blog-sb__link {
      border-right: rem(3) solid $main-blue;
      color: $main-blue;
      font-family: 'robotobold';
    }
  }
  &__link {
    display: inline-block;
    padding: rem(15) rem(20);
    color: $sidebar-text;
    line-height: rem(26);
    &:hover {
      transition: 0.5s;
      color: $main-blue;
      font-family: 'robotobold';
    }
  }

  @include desktop {
    position: static;
    float: left;
    margin-left: rem(-80);
  }
  @include tablet {
    display: none;
    float: none;
    margin-left: 0;
  }
}

.blog-content {
  margin: rem(-70) auto 0;
  padding: 0 rem(20);
  position: relative;
  @include desktop {
    width: 720px;
    float: right;
  }
  @include tablet {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}


.blog-article {
  margin-top: rem(70);
  padding-bottom: rem(70);
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(5);
    background: rgba($black, 0.07);
  }
  &:last-child {
    &:after {
      display: none;
    }
  }

  &__title {
    margin-bottom: rem(30);
    line-height: rem(41);
    color: $gray;
    font-size: rem(35);
    font-family: 'sansus_regular';
  }

  &__date {
    margin-bottom: rem(30);
    color: $main-blue;
  }

  &__content {
    p {
      margin: 0 0 rem(20);
    }
  }
}
