.hero {
  height: 100vh;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $bg-mountain;
    &-img {
      display: block;
      width: 180%;
      position: absolute;
      bottom: 0;
    }
    &-video {
      @include align();
    }
    @include desktop {
      height: $bg-mountain-desktop;
    }
  }
}

.socials {
  position: absolute;
  top: 34px;
  left: 30px;
}

.burger {
  top: 30px;
  right: 30px;
}

