.hero {
  height: 100vh;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $bg-mountain;
    &:after {
      content: '';
      height: 1000px;
      display: block;
      background-color: #0a080d;
      position: absolute;
      bottom: -1000px;
      left: 0;
      right: 0;
    }

    &-img {
      display: block;
      width: 180%;
      position: absolute;
      bottom: 0;
    }
    &-video {
      @include align();
    }
    @include desktop {
      height: $bg-mountain-desktop;
    }
    @include laptop {
      height: $bg-mountain-laptop;
    }
    @include tablet {
      height: $bg-mountain-tablets;
    }
  }
}

