.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include phone {
    height: auto;
    width: auto;
  }
}

.auth {
  width: rem(380);
  height: rem(395);
  padding-top: rem(40);
  background-color: rgba($blueblack, 0.5);
  text-align: center;
  color: $white;
  font-family: 'robotomedium';
  position: relative;
  transition: 1s;

  &__bg {

    &-video {
      @include align(both);
    }

    &-pic {
      position: absolute;
      left: 0;
      right: 0;
      height: $bg-mountain;

      @include desktop {
        height: $bg-mountain-desktop - 70px;
      }
      @include laptop {
        height: $bg-mountain-laptop - 100px;
      }
      @include tablet {
        height: $bg-mountain-tablets - 100px;
      }
      @include phone {
        height: 620px;
      }
    }
    &-img {
      display: block;
      max-width: 180%;
      position: absolute;
      bottom: 0;
    }
  }

  &__nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    font-size: rem(16);
    //border-right: 2px $light-gray solid;
    vertical-align: bottom;
    position: relative;

    &:after {
      display: block;
      content: '';
      height: 100%;
      width: 2px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: $light-gray;
    }
    &:last-child {
      border-right: none;
      &:after {
        display: none;
      }
    }
    &_works {
      width: 40%;
    }
    &_about {
      width: 32%;
    }
    &_blog {
      width: 28%;
    }
    &_form {
      width: 50%;
    }
  }
  &__btn {
    display: block;
    padding-top: rem(12);
    height: rem(45);
    background-color: rgba($blue, 0.8);
    transition: .5s;
    font-family: 'robotomedium';

    &:hover {
      background-color: rgba($dark-blue, 0.8);
    }

    &_form {
      padding-top: 0;
      width: 100%;
      border: none;
      color: $white;
      cursor: pointer;
    }

  }

  &-back {
    display: none;
  }


  .user__title {
    font-size: rem(28);
  }

  @include tablet {
    width: 45vmax;
  }
  @include phone {
    width: 93%;
  }
}

//copyright
.auth-copyright {
  width: 100%;
  position: absolute;
  bottom: rem(40);
  text-align: center;
  @include phone {
    margin-top: 50px;
    position: static;
  }
}

//auth button
.auth-btn-front {
  width: rem(180);
  height: rem(45);
  padding-top: rem(9);
  display: block;
  position: absolute;
  right: rem(100);
  top: rem(24);
  border: rem(1) solid $white;
  text-align: center;
  transition: .5s;
  font-family: 'robotomedium';
  &:hover {
    border-color: #083c96;
    background: #083c96;
  }

  @include desktop {
    right: rem(20);
  }
  @include phone {
    position: relative;
    margin: 10px auto 30px;
    top: auto;
    right: auto;
    z-index: 10;
  }
}

//socials
.auth .socials {
  margin: rem(40) 0;
  position: relative;
  top: 0;
  left: 0;
  &__item:hover .socials__img {
    fill-opacity: 1;
  }

  &__img {
    fill: $blue;
    fill-opacity: 0.7;
  }
}

//flip
.auth-flip {
  transform: rotateY(180deg);
}