.map {
  background-size: 100% 100%;

  &-container {
    height: 100vh;
    @include phone {
      height: calc(100vh + #{$contacts-phone-height});
    }
  }
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}