.reviews {

  &__title {
    margin: 0 auto;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #13131b;
    min-width: 700px;
    &-img {
      height: 100%;
    }
  }
}

.reviews-container {
  width: 780px;
  margin: 0 auto;
  padding: rem(75) 0 rem(70);
  @include tablet {
    width: 93%;
  }
}