.auth-front
    .user-auth
        include ../blocks/user
    include ../blocks/socials
    nav.auth__nav
        ul.auth__list
            li.auth__item.auth__item_works
                a(href="portfolio.html").auth-front__link.auth__btn Мои работы
            li.auth__item.auth__item_about
                a(href="about.html").auth-front__link.auth__btn Обо мне
            li.auth__item.auth__item_blog
                a(href="blog.html").auth-front__link.auth__btn Блог