aside.blog-sb.blog-sb_phone
    ul.blog-sb__list
        li.blog-sb__item.active
            a.blog-sb__link(href="#main-sass") Самое важное в SASS
        li.blog-sb__item
            a.blog-sb__link(href="#tricks") Приёмы в вёрстке, без которых не обходится ни один сайт
        li.blog-sb__item
            a.blog-sb__link(href="#") Самый необходимый набор Gulp плагинов
        li.blog-sb__item
            a.blog-sb__link(href="#") Почему я выбрал Jade