.copyright
    span.copyright__item.copyright__item_name © Зайцев Дмитрий
    span.copyright__item.copyright__item_desc Создано с любовью в LoftSchool
    span.copyright__item.copyright__item_year 2017