.feedback
    form.feedback__form
        .block-title.feedback__title
            .feedback__block
                input(type="text", name="name", id="name", placeholder="Ваше имя").feedback__input
            .feedback__block
                input(type="email", name="email", id="email", placeholder="Ваш email").feedback__input
            .feedback__block
                textarea(id="message", placeholder="Ваше сообщение").feedback__input.feedback__input_ta
            .feedback__btn
                input(id="submit", value="Отправить", type="button").feedback__btn-submit
            .feedback__btn
                input(value="Очистить", type="reset").feedback__btn-reset