footer.footer
    .footer-top
        .footer-top__left
            p.
                Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer-top__middle
            include ./navigation
            include ./socials
        .footer-top__right
            .contacts
                .contacts__skype
                .contacts__email
                    a(href="mailto:zadima@gmail.com")
                        | zadima@gmail.com
                .contacts__tel
                    a(href="tel:+79001234567")
                        | +7 900 123 45 67
                .contacts__addr
                    p
                        | г. Москва, ул. Московская, д.4
    .footer-bottom
        include ../blocks/copyright
