footer.footer
    .footer-top
        .footer-top__col_left.footer-top__col
            .footer-top__text.
                Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer-top__col_middle.footer-top__col
            include ./navigation
            include ./socials
        .footer-top__col_right.footer-top__col
            .footer-contacts
                .footer-contacts__skype
                    a(href="skype:uudimauu")
                        | uudimauu
                .footer-contacts__email
                    a(href="mailto:zadima@gmail.com")
                        | zadima@gmail.com
                .footer-contacts__tel
                    a(href="tel:+79001234567")
                        | +7 900 123 45 67
                .footer-contacts__addr
                    | г. Москва, ул. Красного маяка, д.14 к.1
    .footer-bottom
        include ../blocks/copyright
