ul.reviews__list
    li.reviews__item
        +review('./assets/img/rev-photo-1.png', reviews.kovlchukDmitry.text, reviews.kovlchukDmitry.name, reviews.kovlchukDmitry.occ, '1')
    li.reviews__item
        +review('./assets/img/rev-photo-2.png',  reviews.sabantsevVladimir.text, reviews.sabantsevVladimir.name, reviews.sabantsevVladimir.occ)