ul.reviews__list
    li.reviews__item
        .reviews__pic
            img.reviews__img
        .reviews__text.
            Этот парень проходил обучение веб-разработке
            не где-то, а в LoftSchool! 2 месяца только
            самых тяжелых испытаний и бессонных ночей!
        .reviews__reviewer
            .reviews__name Ковальчук Дмитрий
            .reviews__occ — основатель Loftschool
    li.reviews__item
        .reviews__pic
            img.reviews__img
        .reviews__text.
            Этот код выдержит любые испытания. Только
            пожалуйста, не загружайте сайт на слишком
            старых браузерах!
        .reviews__reviewer
            .reviews__name Сабанцев Владимир
            .reviews__occ — преподаватель Loftschool