.slider
    .slider__col.slider__col-left
        .block-title.slider__title
        .slider__desc
        a.slider__btn
            +svg('slider__btn_pic', 'link')
            .slider__btn-text Посмотреть сайт
    .slider__col.slider__col-right
        .slider__content
        .slider__prev
        .slider__next