@mixin align($align: "both") {
  position: absolute;
  @if ($align=="both") {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @else if ($align=="hor") {
    left: 50%;
    transform: translateX(-50%);
  }
  @else if ($align=="vert") {
    top: 50%;
    transform: translateY(-50%);
  }
}

@function rem ($px) {
  @return #{$px/16}rem;
}

%clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

//media
@mixin desktop {  //desktops and laptops
  @media (max-width: 1800px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 800px) {
    @content;
  }
}
@mixin phone {
  @media (max-width: 480px) {
    @content;
  }
}