//colors
$white: #ffffff;
$blueblack: #1c1f29;
$blue: #004cd1;
$dark-blue: #043ea3;
$gray: #474b57;
$light-gray: #dee3e7;
$black: #373e42;
$footer-top-clr: #1c1f29;
$main-blue: #083c96;
$works-bg: #0d1120;

//sizes
$footer-height: 185px;
$bg-mountain: 1300px;
$bg-mountain-desktop: 1150px;
$bg-mountain-tablets: 1030px;
$section-height: auto;
$section-min-height: 700px;