extends ../layouts/about

block title
    | Обо мне
block section_1
    include ../sections/about
block section_2
    include ../sections/map
block script
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYlSQ4AkryXb34t10arIbCrwG11lDDnE4&callback=initMap" async defer)