extends ../_template

block title
    |Блог

block content
    .wrapper
        include ../sections/hero
            block user
                include ../blocks/blog-user

        include ../sections/blog

        include ../blocks/footer

    include ../blocks/socials

    .burger
