extends ../_template

block title
    |Блог

block content
    .wrapper
        include ../sections/blog-hero

        .blog-container

            include ../blocks/blog-triangles

            include ../sections/blog

        include ../blocks/footer

    include ../blocks/socials

    .burger
