extends ../_template

block title
    |Блог

block content
    .wrapper
        include ../sections/blog-hero

        section.section.blog
            include ../blocks/blog-triangles

            .container.blog-container
                include ../sections/blog



        include ../sections/footer

    include ../blocks/socials

    include ../blocks/burger