extends ../_template

block content
    .wrapper.wrapper-auth

        include ../sections/auth

        .auth-copyright
            include ../blocks/copyright
        a(href="#").auth-btn Авторизоваться