-
    var skillsGroups = ['Frontend','Backend','Workflow'];
    var skillsArray = [
        {
            'html'  : 'HTML5',
            'css'   :'CSS',
            'js'    :'JavaScript & jQuery'},
        {
            'php'   :'PHP',
            'sql'   :'mySQL',
            'node'  :'Node.js & npm',
            'mongo' :'Mongo.db'},
        {
            'git'   :'Git',
            'gulp'  :'Gulp',
            'yarn'  :'Yarn'}
    ];
    var links = {
        'portfolio.html': 'Мои работы',
        'about.html'    : 'Обо мне',
        'blog.html'     : 'Блог',
        'index.html'    : 'Авторизация'
    };
    var socials = {
        'vk': 'https://vk.com/id26041658',
        'github': 'https://github.com/acidtriangle',
        'in': 'https://linkedin.com/'
    };
    var contacts = {
        'skype'     : 'uudimauu',
        'envelope'     : 'zadima@gmail.com',
        'phone'       : '+7 900 123 45 67',
        'map'  : 'Москва, ул. Красного маяка, д.14 к.1'
    }
    var reviews = {
        kovlchukDmitry: {
            name: 'Ковальчук Дмитрий',
            occ: 'основатель Loftschool',
            text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!'
        },
        sabantsevVladimir: {
            name: 'Сабанцев Владимир',
            occ: 'Преподаватель',
            text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!'
        }
    }