extends ../_template

block content
    .wrapper
        include ../sections/hero
            block user
                include ../blocks/user

        block section_1
        block section_2

    include ../blocks/socials

    include ../blocks/burger

    block script


